/*

*/

.version.index /* version checker */
{
	color: #00001B;
	background-color: #18951C;
}

#muse_css_mq
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 1438.9500000000003px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: #1E1E1E;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-bottom: -1px;
	width: 0.01px;/* should not cover content below */
}

#pu1738-3
{
	width: 0.01px;
	padding-bottom: 62px;
}

#u1738-3
{
	z-index: 86;
	min-height: 62px;
	position: fixed;
	top: 0px;
}

#u1738-3-bw
{
	z-index: 86;
}

#menuu2407
{
	z-index: 90;
	width: 446px;
	position: fixed;
	top: 20px;
	left: 50%;
	margin-left: -460px;
}

#u2429
{
	width: 110px;
	min-height: 42px;
	position: relative;
	margin-right: -10000px;
}

#u2430
{
	width: 110px;
	padding-bottom: 25px;
	position: relative;
}

#u2431-4
{
	width: 110px;
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 12px;
}

#u2430:hover #u2431-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 110px;
	margin: 0px -10000px 0px 0px;
}

#u2430:active #u2431-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 110px;
	margin: 0px -10000px 0px 0px;
}

#u2422
{
	width: 110px;
	min-height: 42px;
	position: relative;
	margin-right: -10000px;
	left: 112px;
}

#u2425
{
	width: 110px;
	padding-bottom: 25px;
	position: relative;
}

#u2428-4
{
	width: 110px;
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 12px;
}

#u2430.MuseMenuActive #u2431-4,#u2425:hover #u2428-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 110px;
	margin: 0px -10000px 0px 0px;
}

#u2425:active #u2428-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 110px;
	margin: 0px -10000px 0px 0px;
}

#u2408
{
	width: 110px;
	min-height: 42px;
	position: relative;
	margin-right: -10000px;
	left: 224px;
}

#u2409
{
	width: 110px;
	padding-bottom: 25px;
	position: relative;
}

#u2412-4
{
	width: 96px;
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 12px;
}

#u2409:hover #u2412-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 96px;
	margin: 0px -10000px 0px 0px;
}

#u2409:active #u2412-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 96px;
	margin: 0px -10000px 0px 0px;
}

#u2409.MuseMenuActive #u2412-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 96px;
	margin: 0px -10000px 0px 0px;
}

#u2411
{
	z-index: 109;
	width: 14px;
	height: 14px;
	position: relative;
	margin-right: -10000px;
	top: 14px;
	left: 96px;
}

#u2413
{
	width: 120px;
	top: 42px;
}

#u3058
{
	width: 118px;
	padding-bottom: 4px;
	position: relative;
	margin-right: -10000px;
}

#u3058:hover
{
	width: 118px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u3061-4
{
	width: 110px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	position: relative;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u3058:hover #u3061-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 110px;
	margin: 0px -10000px 0px 0px;
}

#u3363
{
	width: 118px;
	padding-bottom: 4px;
	position: relative;
	margin-right: -10000px;
}

#u3058.MuseMenuActive,#u3363:hover
{
	width: 118px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u3364-4
{
	width: 110px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	position: relative;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u3058.MuseMenuActive #u3061-4,#u3363:hover #u3364-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 110px;
	margin: 0px -10000px 0px 0px;
}

#u3427
{
	width: 118px;
	padding-bottom: 4px;
	position: relative;
	margin-right: -10000px;
}

#u3363.MuseMenuActive,#u3427:hover
{
	width: 118px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u3428-4
{
	width: 110px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	position: relative;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u3363.MuseMenuActive #u3364-4,#u3427:hover #u3428-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 110px;
	margin: 0px -10000px 0px 0px;
}

#u3495
{
	width: 118px;
	padding-bottom: 4px;
	position: relative;
	margin-right: -10000px;
}

#u3427.MuseMenuActive,#u3495:hover
{
	width: 118px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u3498-4
{
	width: 110px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	position: relative;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u3427.MuseMenuActive #u3428-4,#u3495:hover #u3498-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 110px;
	margin: 0px -10000px 0px 0px;
}

#u3561
{
	width: 118px;
	padding-bottom: 4px;
	position: relative;
	margin-right: -10000px;
}

#u3495.MuseMenuActive,#u3561:hover
{
	width: 118px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u3564-4
{
	width: 110px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	position: relative;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u3495.MuseMenuActive #u3498-4,#u3561:hover #u3564-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 110px;
	margin: 0px -10000px 0px 0px;
}

#u3625
{
	width: 118px;
	padding-bottom: 4px;
	position: relative;
	margin-right: -10000px;
}

#u3561.MuseMenuActive,#u3625:hover
{
	width: 118px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u3627-4
{
	width: 110px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	position: relative;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u3561.MuseMenuActive #u3564-4,#u3625:hover #u3627-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 110px;
	margin: 0px -10000px 0px 0px;
}

#u3031
{
	width: 118px;
	padding-bottom: 4px;
	position: relative;
	margin-right: -10000px;
}

#u3625.MuseMenuActive,#u3031:hover
{
	width: 118px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u3035-4
{
	width: 95px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	position: relative;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u3031:hover #u3035-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 95px;
	margin: 0px -10000px 0px 0px;
}

#u3031.MuseMenuActive #u3035-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 95px;
	margin: 0px -10000px 0px 0px;
}

#u3037
{
	z-index: 154;
	width: 14px;
	height: 14px;
	position: relative;
	margin-right: -10000px;
	top: 3px;
	left: 102px;
}

#u2409.MuseMenuActive #u2411,#u3031:hover #u3037
{
	width: 14px;
	height: 14px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u3031.MuseMenuActive #u3037
{
	width: 14px;
	height: 14px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u3039
{
	width: 120px;
	left: 120px;
}

#u30980
{
	width: 118px;
	padding-bottom: 4px;
	position: relative;
	margin-right: -10000px;
}

#u3031.MuseMenuActive,#u30980:hover
{
	width: 118px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u30984-4
{
	width: 110px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	position: relative;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u3625.MuseMenuActive #u3627-4,#u30980:hover #u30984-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 110px;
	margin: 0px -10000px 0px 0px;
}

#u31327
{
	width: 118px;
	padding-bottom: 4px;
	position: relative;
	margin-right: -10000px;
}

#u30980.MuseMenuActive,#u31327:hover
{
	width: 118px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u31328-4
{
	width: 110px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	position: relative;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u30980.MuseMenuActive #u30984-4,#u31327:hover #u31328-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 110px;
	margin: 0px -10000px 0px 0px;
}

#u2414,#u3057,#u3360,#u3426,#u3492,#u3558,#u3624,#u3029,#u3041,#u30978,#u31324,#u32825
{
	width: 120px;
	position: relative;
}

#u32828
{
	width: 118px;
	padding-bottom: 4px;
	position: relative;
	margin-right: -10000px;
}

#u31327.MuseMenuActive,#u32828:hover
{
	width: 118px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u32828.MuseMenuActive
{
	width: 118px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u32831-4
{
	width: 110px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	position: relative;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u31327.MuseMenuActive #u31328-4,#u32828:hover #u32831-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 110px;
	margin: 0px -10000px 0px 0px;
}

#u32828.MuseMenuActive #u32831-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 110px;
	margin: 0px -10000px 0px 0px;
}

#u2415
{
	width: 110px;
	min-height: 42px;
	position: relative;
	margin-right: -10000px;
	left: 336px;
}

#u2416
{
	width: 110px;
	padding-bottom: 25px;
	position: relative;
}

#u2430.MuseMenuActive,#u2425.MuseMenuActive,#u2409.MuseMenuActive,#u2416.MuseMenuActive
{
	width: 110px;
	min-height: 0px;
	margin: 0px;
}

#u2417-4
{
	width: 110px;
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 12px;
}

#u2425.MuseMenuActive #u2428-4,#u2416:hover #u2417-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 110px;
	margin: 0px -10000px 0px 0px;
}

#u2416:active #u2417-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 110px;
	margin: 0px -10000px 0px 0px;
}

#u2416.MuseMenuActive #u2417-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 110px;
	margin: 0px -10000px 0px 0px;
}

#pu916
{
	width: 0.01px;
	margin-left: 58px;
	margin-top: 38px;
}

#u916
{
	z-index: 2;
	width: 844px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u313
{
	z-index: 3;
	width: 844px;
	height: 449px;
	background-color: #969696;
	opacity: 0.57;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=56.99999999999999)";
	filter: alpha(opacity=56.99999999999999);
	border-radius: 10px;
	position: relative;
	margin-right: -10000px;
}

#u300
{
	z-index: 4;
	width: 268px;
	background-color: transparent;
	border-radius: 10px;
	position: relative;
	margin-right: -10000px;
	margin-top: 23px;
	left: 23px;
}

#u300 .clip_frame
{
	-webkit-border-radius: 10px 10px 10px 10px;
}

#u310-10
{
	z-index: 6;
	width: 504px;
	min-height: 402px;
	background-color: transparent;
	line-height: 50px;
	font-size: 42px;
	font-family: '__Myriad Pro_5';
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 24px;
	left: 317px;
}

#u310-4
{
	color: #00B29D;
}

#u31378
{
	z-index: 16;
	width: 224px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 79px;
	left: 403px;
}

#u14353-4
{
	z-index: 18;
	width: 379px;
	min-height: 48px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 47px;
	text-align: center;
	font-size: 39px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	margin-left: 272px;
	margin-top: 46px;
	position: relative;
}

#ppu33817
{
	width: 0.01px;
	margin-left: 30px;
	margin-top: 20px;
}

#u33817
{
	z-index: 26;
	width: 300px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u33818
{
	z-index: 27;
	display: block;
}

#u33830-8
{
	z-index: 46;
	width: 300px;
	min-height: 200px;
	background-color: #FFFFFF;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	color: #000000;
	text-align: center;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
}

#u33823
{
	z-index: 32;
	width: 300px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 600px;
}

#u33825
{
	z-index: 34;
	width: 300px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u33825:hover
{
	border-width: 0px;
	border-color: transparent;
	background-color: #FF67EC;
	border-radius: 0px;
	width: 300px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u33825_img
{
	margin-left: -38px;
	margin-right: -19px;
}

#u33829-8
{
	z-index: 38;
	width: 300px;
	min-height: 200px;
	background-color: #FFFFFF;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	color: #000000;
	text-align: center;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
}

#u33831-8
{
	z-index: 54;
	width: 300px;
	min-height: 200px;
	background-color: #FFFFFF;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	color: #000000;
	text-align: center;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	left: 600px;
}

#ppu33827
{
	width: 0.01px;
	margin-left: 30px;
	margin-top: -1px;
}

#pu33817,#pu33827
{
	width: 0.01px;
	margin-right: -10000px;
	margin-left: 300px;
}

#u33827
{
	z-index: 36;
	width: 300px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u33833-8
{
	z-index: 70;
	width: 300px;
	min-height: 200px;
	background-color: #FFFFFF;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	color: #000000;
	text-align: center;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
}

#u33819
{
	z-index: 28;
	width: 300px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 600px;
}

#u33821
{
	z-index: 30;
	width: 300px;
	background-color: #EFEFEF;
	position: relative;
	margin-right: -10000px;
}

#u33821_img
{
	padding-top: 14px;
	padding-bottom: 15px;
}

#u33832-8
{
	z-index: 62;
	width: 300px;
	min-height: 200px;
	background-color: #FFFFFF;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	color: #000000;
	text-align: center;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
}

#u33834-8
{
	z-index: 78;
	width: 300px;
	min-height: 200px;
	background-color: #FFFFFF;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	color: #000000;
	text-align: center;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	left: 600px;
}

#u33830-8:hover,#u33829-8:hover,#u33831-8:hover,#u33833-8:hover,#u33832-8:hover,#u33834-8:hover
{
	opacity: 0.92;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=92)";
	filter: alpha(opacity=92);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 200px;
	width: 300px;
	margin: 0px -10000px 0px 0px;
}

#u33830-2,#u33829-2,#u33831-2,#u33833-2,#u33832-2,#u33834-2
{
	font-size: 30px;
	line-height: 36px;
	padding-top: 15px;
	font-weight: bold;
}

#u33830-4,#u33829-4,#u33831-4,#u33833-4,#u33832-4,#u33834-4
{
	font-size: 25px;
	padding-right: 10px;
	padding-left: 10px;
	padding-top: 33px;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u33830-3,#u33829-3,#u33831-3,#u33833-3,#u33832-3,#u33834-3
{
	font-size: 14px;
	line-height: 17px;
}

#u33830-6,#u33829-6,#u33831-6,#u33833-6,#u33832-6,#u33834-6
{
	font-size: 12px;
	line-height: 14px;
	padding-right: 10px;
	padding-left: 10px;
	padding-top: 15px;
	font-weight: bold;
	font-style: italic;
}

#u33830-5,#u33829-5,#u33831-5,#u33833-5,#u33832-5,#u33834-5
{
	font-weight: normal;
}

#u14366
{
	z-index: 22;
	width: 300px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-left: 330px;
	margin-top: 59px;
	position: relative;
}

#u14368
{
	z-index: 23;
	width: 300px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u14368_img
{
	margin-left: -30px;
	margin-right: -30px;
}

#u14367
{
	z-index: 25;
	width: 300px;
	height: 200px;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../images/other%20stuff%20overlay-background.png") no-repeat left top;
	background-size: contain;
}

#u14367:hover
{
	width: 300px;
	height: 200px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
	background: transparent url("../images/other%20stuff%20overlay-vector%20smart%20object.png") no-repeat left top;
	background-size: contain;
}

#pu1737
{
	width: 0.01px;
	margin-top: 56px;
}

.js body
{
	visibility: hidden;
}

.js body.initialized
{
	visibility: visible;
}

#u1737,#u1737-bw
{
	z-index: 89;
	height: 62px;
}

#u32754
{
	z-index: 182;
	height: 40px;
	width: 40px;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 460px;
}

#u33608
{
	z-index: 185;
	height: 36px;
	width: 47px;
	position: relative;
	margin-right: -10000px;
	margin-top: 13px;
	left: 403px;
}

.html
{
	background-color: #1E1E1E;
}

body
{
	position: relative;
	min-width: 960px;
}

@font-face
{
	font-family: '__Myriad Pro_5';
	src: url('../fonts/myriadpro-bold.eot');
	src: local('☺'), url('../fonts/myriadpro-bold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
}

