.version.magic_box /* version checker */
{
	color: #0000F2;
	background-color: #5A6F4A;
}

#muse_css_mq
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 1157px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: #1E1E1E;
	margin-left: auto;
	margin-right: auto;
}

#pu3334-3
{
	width: 0.01px;
	padding-bottom: 62px;
	margin-right: -10000px;
}

#u3334-3
{
	z-index: 184;
	min-height: 62px;
	position: fixed;
	top: 0px;
}

#u3334-3-bw
{
	z-index: 184;
}

#menuu5307
{
	z-index: 188;
	width: 446px;
	position: fixed;
	top: 20px;
	left: 50%;
	margin-left: -460px;
}

#u5308
{
	width: 110px;
	min-height: 42px;
	position: relative;
	margin-right: -10000px;
}

#u5311
{
	width: 110px;
	padding-bottom: 25px;
	position: relative;
}

#u5315
{
	width: 110px;
	min-height: 42px;
	position: relative;
	margin-right: -10000px;
	left: 112px;
}

#u5316
{
	width: 110px;
	padding-bottom: 25px;
	position: relative;
}

#u5329
{
	width: 110px;
	min-height: 42px;
	position: relative;
	margin-right: -10000px;
	left: 224px;
}

#u5330
{
	width: 110px;
	padding-bottom: 25px;
	position: relative;
}

#u5333
{
	height: 17px;
	width: 96px;
	position: relative;
	margin-right: -10000px;
	top: 12px;
}

#u5332
{
	z-index: 207;
	width: 14px;
	height: 14px;
	position: relative;
	margin-right: -10000px;
	top: 14px;
	left: 96px;
}

#u5330.MuseMenuActive #u5332
{
	width: 14px;
	height: 14px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u5334
{
	width: 120px;
	top: 42px;
}

#u5393
{
	width: 118px;
	padding-bottom: 4px;
	position: relative;
	margin-right: -10000px;
}

#u5393:hover
{
	width: 118px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u5394-4
{
	width: 110px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	position: relative;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u5393:hover #u5394-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 110px;
	margin: 0px -10000px 0px 0px;
}

#u5337
{
	width: 118px;
	padding-bottom: 4px;
	position: relative;
	margin-right: -10000px;
}

#u5393.MuseMenuActive,#u5337:hover
{
	width: 118px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u5340-4
{
	width: 110px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	position: relative;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u5393.MuseMenuActive #u5394-4,#u5337:hover #u5340-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 110px;
	margin: 0px -10000px 0px 0px;
}

#u5402
{
	width: 118px;
	padding-bottom: 4px;
	position: relative;
	margin-right: -10000px;
}

#u5337.MuseMenuActive,#u5402:hover
{
	width: 118px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u5404-4
{
	width: 110px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	position: relative;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u5337.MuseMenuActive #u5340-4,#u5402:hover #u5404-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 110px;
	margin: 0px -10000px 0px 0px;
}

#u5386
{
	width: 118px;
	padding-bottom: 4px;
	position: relative;
	margin-right: -10000px;
}

#u5402.MuseMenuActive,#u5386:hover
{
	width: 118px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u5388-4
{
	width: 110px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	position: relative;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u5402.MuseMenuActive #u5404-4,#u5386:hover #u5388-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 110px;
	margin: 0px -10000px 0px 0px;
}

#u5346
{
	width: 118px;
	padding-bottom: 4px;
	position: relative;
	margin-right: -10000px;
}

#u5386.MuseMenuActive,#u5346:hover
{
	width: 118px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u5349-4
{
	width: 110px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	position: relative;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u5386.MuseMenuActive #u5388-4,#u5346:hover #u5349-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 110px;
	margin: 0px -10000px 0px 0px;
}

#u5379
{
	width: 118px;
	padding-bottom: 4px;
	position: relative;
	margin-right: -10000px;
}

#u5346.MuseMenuActive,#u5379:hover
{
	width: 118px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u5382-4
{
	width: 110px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	position: relative;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u5346.MuseMenuActive #u5349-4,#u5379:hover #u5382-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 110px;
	margin: 0px -10000px 0px 0px;
}

#u5335,#u5392,#u5336,#u5399,#u5385,#u5343,#u5378,#u5350
{
	width: 120px;
	position: relative;
}

#u5374
{
	width: 118px;
	padding-bottom: 4px;
	position: relative;
	margin-right: -10000px;
}

#u5379.MuseMenuActive,#u5374:hover
{
	width: 118px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u5374.MuseMenuActive
{
	width: 118px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u5375-4
{
	width: 110px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	position: relative;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u5379.MuseMenuActive #u5382-4,#u5374:hover #u5375-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 110px;
	margin: 0px -10000px 0px 0px;
}

#u5374.MuseMenuActive #u5375-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 110px;
	margin: 0px -10000px 0px 0px;
}

#u5406
{
	width: 110px;
	min-height: 42px;
	position: relative;
	margin-right: -10000px;
	left: 336px;
}

#u5409
{
	width: 110px;
	padding-bottom: 25px;
	position: relative;
}

#u5311.MuseMenuActive,#u5316.MuseMenuActive,#u5330.MuseMenuActive,#u5409.MuseMenuActive
{
	width: 110px;
	min-height: 0px;
	margin: 0px;
}

#u5312,#u5317,#u5411
{
	height: 17px;
	width: 110px;
	position: relative;
	margin-right: -10000px;
	top: 12px;
}

#pu4267
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 61px;
	margin-left: 20px;
}

#u4267
{
	z-index: 2;
	width: 901px;
	border-style: solid;
	border-width: 1px;
	border-color: #1E1E1E;
	background-color: #1E1E1E;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	padding: 18px 11px 31.049999999999272px 7px;
}

#u4270-4
{
	z-index: 119;
	width: 379px;
	min-height: 48px;
	background-color: transparent;
	line-height: 47px;
	margin-left: 248px;
	position: relative;
}

#pu4478
{
	width: 0.01px;
	margin-left: 1px;
	margin-top: 32px;
}

#u4478
{
	z-index: 3;
	width: 900px;
	height: 147px;
	position: relative;
	margin-right: -10000px;
	margin-top: 486px;
}

#u29671
{
	z-index: 4;
	width: 902px;
	position: relative;
	margin-right: -10000px;
	margin-top: 32px;
	left: -1px;
}

#u4240
{
	z-index: 5;
	width: 598px;
	height: 451px;
	position: relative;
	margin-right: -10000px;
}

#u4382
{
	z-index: 6;
	width: 298px;
	height: 451px;
	position: relative;
	margin-right: -10000px;
	left: 600px;
}

#u4243-4
{
	z-index: 7;
	width: 379px;
	min-height: 29px;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 262px;
}

#u4531
{
	z-index: 11;
	width: 900px;
	height: 33px;
	position: relative;
	margin-right: -10000px;
}

#u4534
{
	z-index: 12;
	width: 898px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: -1px;
}

#u4534_position_content
{
	padding-top: 49px;
	padding-bottom: 4px;
	width: 100%;
}

#pu4309-4
{
	width: 0.01px;
	margin-left: 9px;
}

#u4309-4
{
	z-index: 13;
	width: 99px;
	min-height: 31px;
	background-color: transparent;
	line-height: 31px;
	position: relative;
	margin-right: -10000px;
}

#u4312-4
{
	z-index: 17;
	width: 110px;
	min-height: 31px;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 26px;
	line-height: 31px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	left: 300px;
}

#u4321-4
{
	z-index: 29;
	width: 153px;
	min-height: 31px;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 26px;
	line-height: 31px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	left: 600px;
}

#ppu25123-4
{
	width: 0.01px;
	margin-left: 9px;
	margin-top: 11px;
}

#pu25123-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 4px;
	margin-left: 612px;
}

#u25123-4
{
	z-index: 160;
	width: 256px;
	min-height: 30px;
	background-color: #317873;
	border-radius: 7px;
	color: #FFFFFF;
	font-size: 20px;
	text-align: center;
	line-height: 20px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: normal;
	position: relative;
}

#u25126-4
{
	z-index: 164;
	width: 256px;
	min-height: 30px;
	background-color: #317873;
	border-radius: 7px;
	color: #FFFFFF;
	font-size: 20px;
	text-align: center;
	line-height: 20px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: normal;
	margin-top: 15px;
	position: relative;
}

#u25129-4
{
	z-index: 168;
	width: 256px;
	min-height: 30px;
	background-color: #317873;
	border-radius: 7px;
	color: #FFFFFF;
	font-size: 20px;
	text-align: center;
	line-height: 20px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: normal;
	margin-top: 15px;
	position: relative;
}

#u25130-4
{
	z-index: 172;
	width: 256px;
	min-height: 30px;
	background-color: #317873;
	border-radius: 7px;
	color: #FFFFFF;
	font-size: 20px;
	text-align: center;
	line-height: 20px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: normal;
	margin-top: 15px;
	position: relative;
}

#u4351-4
{
	z-index: 33;
	width: 290px;
	min-height: 158px;
	background-color: transparent;
	line-height: 17px;
	position: relative;
	margin-right: -10000px;
}

#u4355-17
{
	z-index: 37;
	width: 290px;
	min-height: 158px;
	background-color: transparent;
	line-height: 17px;
	position: relative;
	margin-right: -10000px;
	left: 275px;
}

#pu4315-4
{
	width: 0.01px;
	margin-left: 9px;
	margin-top: -6px;
}

#u4315-4
{
	z-index: 21;
	width: 116px;
	min-height: 31px;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 26px;
	line-height: 31px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
}

#u4318-4
{
	z-index: 25;
	width: 110px;
	min-height: 31px;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 26px;
	line-height: 31px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	left: 300px;
}

#u4312,#u4321,#u4315,#u4318
{
	text-decoration: underline;
}

#u25135-4
{
	z-index: 176;
	width: 256px;
	min-height: 30px;
	background-color: #317873;
	border-radius: 7px;
	color: #FFFFFF;
	font-size: 20px;
	text-align: center;
	line-height: 20px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: normal;
	position: relative;
	margin-right: -10000px;
	margin-top: 21px;
	left: 612px;
}

#pu4361-4
{
	width: 0.01px;
	margin-left: 9px;
	margin-top: -5px;
}

#u4361-4
{
	z-index: 54;
	width: 290px;
	min-height: 158px;
	background-color: transparent;
	color: #FFFFFF;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
}

#u4367-11
{
	z-index: 58;
	width: 290px;
	min-height: 158px;
	background-color: transparent;
	line-height: 17px;
	position: relative;
	margin-right: -10000px;
	left: 282px;
}

#u25136-4
{
	z-index: 180;
	width: 256px;
	min-height: 30px;
	background-color: #317873;
	border-radius: 7px;
	color: #FFFFFF;
	font-size: 20px;
	text-align: center;
	line-height: 20px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: normal;
	position: relative;
	margin-right: -10000px;
	margin-top: 20px;
	left: 612px;
}

#u25123-2,#u25126-2,#u25129-2,#u25130-2,#u25135-2,#u25136-2
{
	padding-top: 6px;
}

#u4484-4
{
	z-index: 69;
	width: 462px;
	min-height: 31px;
	background-color: transparent;
	line-height: 31px;
	margin-left: 9px;
	margin-top: 26px;
	position: relative;
}

#pu4502-15
{
	width: 0.01px;
	margin-left: 9px;
	margin-top: 10px;
}

#u4502-15
{
	z-index: 73;
	width: 290px;
	min-height: 101px;
	background-color: transparent;
	line-height: 17px;
	position: relative;
	margin-right: -10000px;
}

#u4505-13
{
	z-index: 88;
	width: 290px;
	min-height: 101px;
	background-color: transparent;
	line-height: 17px;
	position: relative;
	margin-right: -10000px;
	left: 300px;
}

#u4514-7
{
	z-index: 101;
	width: 290px;
	min-height: 101px;
	background-color: transparent;
	line-height: 17px;
	position: relative;
	margin-right: -10000px;
	left: 600px;
}

#pu4468
{
	width: 0.01px;
	margin-top: 62px;
}

#u4468
{
	z-index: 117;
	width: 460px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u4517-7
{
	z-index: 110;
	width: 417px;
	min-height: 344px;
	background-color: transparent;
	color: #FFFFFF;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	left: 474px;
}

#u4537-7
{
	z-index: 123;
	width: 418px;
	min-height: 344px;
	background-color: transparent;
	color: #FFFFFF;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	margin-left: 10px;
	margin-top: 20px;
	position: relative;
}

#u4517-2,#u4517-3,#u4537-2,#u4537-3
{
	font-size: 20px;
	line-height: 24px;
}

#u4517-5,#u4537-5
{
	font-size: 17px;
	line-height: 20px;
	font-style: italic;
}

#pu4540
{
	width: 0.01px;
	margin-top: 20px;
}

#u4540
{
	z-index: 130;
	width: 480px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u4556-4
{
	z-index: 134;
	width: 396px;
	min-height: 270px;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 20px;
	line-height: 24px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	left: 495px;
}

#pu4559-7
{
	width: 0.01px;
	margin-left: 10px;
	margin-top: 20px;
}

#u4559-7
{
	z-index: 138;
	width: 397px;
	min-height: 270px;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 20px;
	line-height: 24px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
}

#u4547
{
	z-index: 132;
	width: 480px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 411px;
}

#pu4562
{
	width: 0.01px;
	margin-left: 1px;
	margin-top: 20px;
}

#u4562
{
	z-index: 145;
	width: 480px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u4571-4
{
	z-index: 147;
	width: 397px;
	min-height: 270px;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 20px;
	line-height: 24px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	left: 493px;
}

#u4584
{
	z-index: 151;
	width: 899px;
	background-color: transparent;
	margin-left: 1px;
	margin-top: 20px;
	position: relative;
}

#u4626
{
	z-index: 153;
	width: 900px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-left: 1px;
	margin-top: 20px;
	position: relative;
}

#u4603
{
	z-index: 156;
	width: 300px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u4593
{
	z-index: 154;
	width: 300px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 300px;
}

#u4613
{
	z-index: 158;
	width: 300px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 600px;
}

#u4521
{
	z-index: 108;
	width: 344px;
	background-color: transparent;
	-webkit-transform: matrix(0,-1,1,0,-57,402);
	-ms-transform: matrix(0,-1,1,0,-57,402);
	transform: matrix(0,-1,1,0,-57,402);
	position: relative;
	margin-right: -10000px;
	margin-top: 1101px;
	left: 507px;
}

#u3276
{
	z-index: 187;
	height: 61px;
}

.js body
{
	visibility: hidden;
}

.js body.initialized
{
	visibility: visible;
}

#u3276-bw
{
	z-index: 187;
	margin-top: -1px;
	height: 61px;
}

.html
{
	background-color: #1E1E1E;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 1px;
}

.verticalspacer
{
	min-height: 1px;
}

