.version.minddraw /* version checker */
{
	color: #0000F4;
	background-color: #B23C38;
}

#muse_css_mq
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	min-height: 3018.95px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: #1E1E1E;
	padding-bottom: 0px;
	width: 100%;
	max-width: 960px;
	margin-left: auto;
	margin-right: auto;
}

#pu3334-3
{
	padding-bottom: 62px;
	width: 100%;
}

#u3334-3
{
	z-index: 182;
	min-height: 62px;
	position: fixed;
	top: 0px;
}

#u3334-3-bw
{
	z-index: 182;
}

#menuu5307
{
	z-index: 186;
	width: 446px;
	position: fixed;
	top: 20px;
	left: 50%;
	margin-left: -460px;
}

#u5308
{
	width: 110px;
	min-height: 42px;
	position: relative;
	margin-right: -10000px;
}

#u5311
{
	width: 110px;
	padding-bottom: 25px;
	position: relative;
}

#u5315
{
	width: 110px;
	min-height: 42px;
	position: relative;
	margin-right: -10000px;
	left: 112px;
}

#u5316
{
	width: 110px;
	padding-bottom: 25px;
	position: relative;
}

#u5329
{
	width: 110px;
	min-height: 42px;
	position: relative;
	margin-right: -10000px;
	left: 224px;
}

#u5330
{
	width: 110px;
	padding-bottom: 25px;
	position: relative;
}

#u5333
{
	height: 17px;
	width: 96px;
	position: relative;
	margin-right: -10000px;
	top: 12px;
}

#u5332
{
	z-index: 205;
	width: 14px;
	height: 14px;
	position: relative;
	margin-right: -10000px;
	top: 14px;
	left: 96px;
}

#u5330.MuseMenuActive #u5332
{
	width: 14px;
	height: 14px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u5334
{
	width: 120px;
	top: 42px;
}

#u5393
{
	width: 118px;
	padding-bottom: 4px;
	position: relative;
	margin-right: -10000px;
}

#u5393:hover
{
	width: 118px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u5394-4
{
	width: 110px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	position: relative;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u5393:hover #u5394-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 110px;
	margin: 0px -10000px 0px 0px;
}

#u5337
{
	width: 118px;
	padding-bottom: 4px;
	position: relative;
	margin-right: -10000px;
}

#u5393.MuseMenuActive,#u5337:hover
{
	width: 118px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u5340-4
{
	width: 110px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	position: relative;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u5393.MuseMenuActive #u5394-4,#u5337:hover #u5340-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 110px;
	margin: 0px -10000px 0px 0px;
}

#u5402
{
	width: 118px;
	padding-bottom: 4px;
	position: relative;
	margin-right: -10000px;
}

#u5337.MuseMenuActive,#u5402:hover
{
	width: 118px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u5404-4
{
	width: 110px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	position: relative;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u5337.MuseMenuActive #u5340-4,#u5402:hover #u5404-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 110px;
	margin: 0px -10000px 0px 0px;
}

#u5386
{
	width: 118px;
	padding-bottom: 4px;
	position: relative;
	margin-right: -10000px;
}

#u5402.MuseMenuActive,#u5386:hover
{
	width: 118px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u5388-4
{
	width: 110px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	position: relative;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u5402.MuseMenuActive #u5404-4,#u5386:hover #u5388-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 110px;
	margin: 0px -10000px 0px 0px;
}

#u5346
{
	width: 118px;
	padding-bottom: 4px;
	position: relative;
	margin-right: -10000px;
}

#u5386.MuseMenuActive,#u5346:hover
{
	width: 118px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u5349-4
{
	width: 110px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	position: relative;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u5386.MuseMenuActive #u5388-4,#u5346:hover #u5349-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 110px;
	margin: 0px -10000px 0px 0px;
}

#u5379
{
	width: 118px;
	padding-bottom: 4px;
	position: relative;
	margin-right: -10000px;
}

#u5346.MuseMenuActive,#u5379:hover
{
	width: 118px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u5382-4
{
	width: 110px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	position: relative;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u5346.MuseMenuActive #u5349-4,#u5379:hover #u5382-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 110px;
	margin: 0px -10000px 0px 0px;
}

#u5335,#u5392,#u5336,#u5399,#u5385,#u5343,#u5378,#u5350
{
	width: 120px;
	position: relative;
}

#u5374
{
	width: 118px;
	padding-bottom: 4px;
	position: relative;
	margin-right: -10000px;
}

#u5379.MuseMenuActive,#u5374:hover
{
	width: 118px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u5374.MuseMenuActive
{
	width: 118px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u5375-4
{
	width: 110px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	position: relative;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u5379.MuseMenuActive #u5382-4,#u5374:hover #u5375-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 110px;
	margin: 0px -10000px 0px 0px;
}

#u5374.MuseMenuActive #u5375-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 110px;
	margin: 0px -10000px 0px 0px;
}

#u5406
{
	width: 110px;
	min-height: 42px;
	position: relative;
	margin-right: -10000px;
	left: 336px;
}

#u5409
{
	width: 110px;
	padding-bottom: 25px;
	position: relative;
}

#u5311.MuseMenuActive,#u5316.MuseMenuActive,#u5330.MuseMenuActive,#u5409.MuseMenuActive
{
	width: 110px;
	min-height: 0px;
	margin: 0px;
}

#u5312,#u5317,#u5411
{
	height: 17px;
	width: 110px;
	position: relative;
	margin-right: -10000px;
	top: 12px;
}

#u29435-4
{
	z-index: 18;
	width: 379px;
	min-height: 48px;
	background-color: transparent;
	line-height: 47px;
	margin-top: 18px;
	position: relative;
	margin-left: 30.21%;
}

#pu4478
{
	margin-top: 32px;
	width: 100%;
}

#u4478
{
	z-index: 8;
	width: 900px;
	height: 147px;
	position: relative;
	margin-right: -10000px;
	margin-top: 486px;
	left: 3.03%;
}

#u29671
{
	z-index: 9;
	width: 902px;
	position: relative;
	margin-right: -10000px;
	margin-top: 32px;
	left: 2.92%;
}

#u4240
{
	z-index: 10;
	width: 598px;
	height: 451px;
	position: relative;
	margin-right: -10000px;
}

#u4382
{
	z-index: 11;
	width: 298px;
	height: 451px;
	position: relative;
	margin-right: -10000px;
	left: 66.52%;
}

#u4243-4
{
	z-index: 12;
	width: 379px;
	min-height: 29px;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 30.32%;
}

#u4531
{
	z-index: 16;
	width: 900px;
	height: 33px;
	position: relative;
	margin-right: -10000px;
	left: 3.03%;
}

#u4534
{
	z-index: 17;
	width: 898px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: 2.92%;
}

#u4534_position_content
{
	padding-top: 49px;
	padding-bottom: 8px;
	width: 100%;
}

#pu29438-4
{
	width: 83.86%;
	margin-left: 1.01%;
}

#u29438-4
{
	z-index: 22;
	width: 160px;
	min-height: 31px;
	background-color: transparent;
	line-height: 31px;
	color: #FFFFFF;
	font-size: 26px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
}

#u29439-4
{
	z-index: 26;
	width: 110px;
	min-height: 31px;
	background-color: transparent;
	line-height: 31px;
	color: #FFFFFF;
	font-size: 26px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	left: 39.85%;
}

#u29442-4
{
	z-index: 38;
	width: 153px;
	min-height: 31px;
	background-color: transparent;
	line-height: 31px;
	color: #FFFFFF;
	font-size: 26px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	left: 79.69%;
}

#pppu29456-4
{
	margin-top: 8px;
	width: 96.89%;
	margin-left: 1.01%;
}

#ppu29456-4
{
	padding-bottom: 0px;
	margin-right: -10000px;
	width: 65.18%;
}

#u29456-4
{
	z-index: 46;
	width: 290px;
	min-height: 101px;
	background-color: transparent;
	line-height: 17px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
}

#u29461-19
{
	z-index: 50;
	width: 290px;
	min-height: 158px;
	background-color: transparent;
	line-height: 17px;
	position: relative;
	margin-right: -10000px;
	left: 48.86%;
}

#pu29440-4
{
	margin-top: 8px;
	width: 76.72%;
}

#u29440-4
{
	z-index: 30;
	width: 116px;
	min-height: 31px;
	background-color: transparent;
	line-height: 31px;
	color: #FFFFFF;
	font-size: 26px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
}

#u29441-4
{
	z-index: 34;
	width: 135px;
	min-height: 31px;
	background-color: transparent;
	line-height: 31px;
	color: #FFFFFF;
	font-size: 26px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	left: 68.97%;
}

#u29438,#u29439,#u29442,#u29440,#u29441
{
	text-decoration: underline;
}

#pu29488-4
{
	margin-right: -10000px;
	margin-top: 11px;
	width: 29.43%;
	margin-left: 70.58%;
}

#u29488-4
{
	z-index: 86;
	width: 256px;
	min-height: 30px;
	background-color: #7685FF;
	border-radius: 7px;
	line-height: 20px;
	color: #FFFFFF;
	font-size: 20px;
	text-align: center;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: normal;
	position: relative;
}

#u29489-4
{
	z-index: 90;
	width: 256px;
	min-height: 30px;
	background-color: #FF596F;
	border-radius: 7px;
	line-height: 20px;
	color: #FFFFFF;
	font-size: 20px;
	text-align: center;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: normal;
	margin-top: 15px;
	position: relative;
}

#u29490-4
{
	z-index: 94;
	width: 256px;
	min-height: 30px;
	background-color: #FF596F;
	border-radius: 7px;
	line-height: 20px;
	color: #FFFFFF;
	font-size: 20px;
	text-align: center;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: normal;
	margin-top: 15px;
	position: relative;
}

#u29491-4
{
	z-index: 98;
	width: 256px;
	min-height: 30px;
	background-color: #FF596F;
	border-radius: 7px;
	line-height: 20px;
	color: #FFFFFF;
	font-size: 20px;
	text-align: center;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: normal;
	margin-top: 15px;
	position: relative;
}

#ppu29492-4
{
	margin-top: -7px;
	width: 96.55%;
	margin-left: 1.45%;
}

#pu29492-4
{
	margin-right: -10000px;
	width: 29.53%;
	margin-left: 70.48%;
}

#u29492-4
{
	z-index: 102;
	width: 256px;
	min-height: 30px;
	background-color: #FF596F;
	border-radius: 7px;
	line-height: 20px;
	color: #FFFFFF;
	font-size: 20px;
	text-align: center;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: normal;
	position: relative;
}

#u29493-4
{
	z-index: 106;
	width: 256px;
	min-height: 30px;
	background-color: #7685FF;
	border-radius: 7px;
	line-height: 20px;
	color: #FFFFFF;
	font-size: 20px;
	text-align: center;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: normal;
	margin-top: 15px;
	position: relative;
}

#u29488-2,#u29489-2,#u29490-2,#u29491-2,#u29492-2,#u29493-2
{
	padding-top: 6px;
}

#u29464-4
{
	z-index: 69;
	width: 283px;
	min-height: 158px;
	background-color: transparent;
	color: #FFFFFF;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 15px;
}

#u29467-13
{
	z-index: 73;
	width: 257px;
	background-color: transparent;
	line-height: 17px;
	position: relative;
	margin-right: -10000px;
	margin-top: 15px;
	left: 31.61%;
}

#u29443-4
{
	z-index: 42;
	width: 462px;
	min-height: 31px;
	background-color: transparent;
	line-height: 31px;
	margin-top: 33px;
	position: relative;
	margin-left: 1.01%;
}

#pu29680-13
{
	margin-top: 6px;
	width: 99.11%;
	margin-left: 1.01%;
}

#u29680-13
{
	z-index: 157;
	width: 290px;
	min-height: 101px;
	background-color: transparent;
	line-height: 17px;
	position: relative;
	margin-right: -10000px;
}

#u29681-8
{
	z-index: 170;
	width: 290px;
	min-height: 101px;
	background-color: transparent;
	line-height: 17px;
	position: relative;
	margin-right: -10000px;
	left: 33.71%;
}

#u29682-4
{
	z-index: 178;
	width: 290px;
	min-height: 101px;
	background-color: transparent;
	line-height: 17px;
	position: relative;
	margin-right: -10000px;
	left: 67.42%;
}

#u29682-2
{
	color: #7685FF;
	font-weight: bold;
}

#pu29574
{
	margin-top: 61px;
	width: 100%;
}

#u29574
{
	z-index: 2;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	width: 29.17%;
	left: 3.03%;
}

#u29594
{
	z-index: 6;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	width: 35.11%;
	left: 32.19%;
}

#u29584
{
	z-index: 4;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	width: 29.48%;
	left: 67.3%;
}

#u29607-4
{
	z-index: 110;
	width: 880px;
	min-height: 100px;
	background-color: transparent;
	line-height: 24px;
	color: #FFFFFF;
	font-size: 20px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	margin-top: 26px;
	position: relative;
	margin-left: 4.07%;
}

#u29610
{
	z-index: 114;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	width: 47.92%;
	left: 4.07%;
}

#u29620-10
{
	z-index: 116;
	min-height: 368px;
	background-color: transparent;
	line-height: 24px;
	color: #FFFFFF;
	font-size: 20px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	width: 41.78%;
	left: 53.96%;
}

#u29633-4
{
	z-index: 128;
	min-height: 297px;
	background-color: transparent;
	line-height: 24px;
	color: #FFFFFF;
	font-size: 20px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	width: 41.78%;
	left: 4.07%;
}

#u29623
{
	z-index: 126;
	width: 460px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 48.86%;
}

#u29623_img
{
	margin-top: -48px;
}

#u29636
{
	z-index: 132;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	width: 47.92%;
	left: 3.03%;
}

#u29646-4
{
	z-index: 134;
	min-height: 345px;
	background-color: transparent;
	line-height: 24px;
	color: #FFFFFF;
	font-size: 20px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	width: 41.78%;
	left: 53.96%;
}

#u29658-8
{
	z-index: 140;
	min-height: 305px;
	background-color: transparent;
	color: #FFFFFF;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	width: 41.78%;
	left: 4.07%;
}

#u29658-2,#u29658-3,#u29658-4
{
	font-size: 20px;
	line-height: 24px;
}

#u29658-6
{
	font-size: 17px;
	line-height: 20px;
	font-style: italic;
}

#u29649
{
	z-index: 138;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	width: 47.92%;
	left: 48.86%;
}

#pu29610,#pu29633-4,#pu29636,#pu29658-8,#pu29661
{
	margin-top: 26px;
	width: 100%;
}

#u29661
{
	z-index: 148;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	width: 47.92%;
	left: 3.03%;
}

#pu29456-4,#u29574_img,#u29594_img,#u29584_img,#u29610_img,#u29636_img,#u29649_img,#u29661_img
{
	width: 100%;
}

#u29668-7
{
	z-index: 150;
	width: 408px;
	min-height: 307px;
	background-color: transparent;
	line-height: 24px;
	color: #FFFFFF;
	font-size: 20px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	left: 53.23%;
}

#u3276
{
	z-index: 185;
	height: 61px;
}

.js body
{
	visibility: hidden;
}

.js body.initialized
{
	visibility: visible;
}

#u3276-bw
{
	z-index: 185;
	margin-top: 24px;
	height: 61px;
}

.html
{
	background-color: #1E1E1E;
}

body
{
	position: relative;
	min-width: 320px;
}

