.version.slipgrip_phone_case /* version checker */
{
	color: #00001A;
	background-color: #57A82A;
}

#muse_css_mq
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	min-height: 2859.95px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: #1E1E1E;
	padding-bottom: 0px;
	width: 100%;
	max-width: 960px;
	margin-left: auto;
	margin-right: auto;
}

#pu3334-3
{
	padding-bottom: 62px;
	width: 100%;
}

#u3334-3
{
	z-index: 153;
	min-height: 62px;
	position: fixed;
	top: 0px;
}

#u3334-3-bw
{
	z-index: 153;
}

#menuu5307
{
	z-index: 157;
	width: 446px;
	position: fixed;
	top: 20px;
	left: 50%;
	margin-left: -460px;
}

#u5308
{
	width: 110px;
	min-height: 42px;
	position: relative;
	margin-right: -10000px;
}

#u5311
{
	width: 110px;
	padding-bottom: 25px;
	position: relative;
}

#u5315
{
	width: 110px;
	min-height: 42px;
	position: relative;
	margin-right: -10000px;
	left: 112px;
}

#u5316
{
	width: 110px;
	padding-bottom: 25px;
	position: relative;
}

#u5329
{
	width: 110px;
	min-height: 42px;
	position: relative;
	margin-right: -10000px;
	left: 224px;
}

#u5330
{
	width: 110px;
	padding-bottom: 25px;
	position: relative;
}

#u5333
{
	height: 17px;
	width: 96px;
	position: relative;
	margin-right: -10000px;
	top: 12px;
}

#u5332
{
	z-index: 176;
	width: 14px;
	height: 14px;
	position: relative;
	margin-right: -10000px;
	top: 14px;
	left: 96px;
}

#u5334
{
	width: 120px;
	top: 42px;
}

#u5393
{
	width: 118px;
	padding-bottom: 4px;
	position: relative;
	margin-right: -10000px;
}

#u5393:hover
{
	width: 118px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u5394-4
{
	width: 110px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	position: relative;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u5393:hover #u5394-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 110px;
	margin: 0px -10000px 0px 0px;
}

#u5337
{
	width: 118px;
	padding-bottom: 4px;
	position: relative;
	margin-right: -10000px;
}

#u5393.MuseMenuActive,#u5337:hover
{
	width: 118px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u5340-4
{
	width: 110px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	position: relative;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u5393.MuseMenuActive #u5394-4,#u5337:hover #u5340-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 110px;
	margin: 0px -10000px 0px 0px;
}

#u5402
{
	width: 118px;
	padding-bottom: 4px;
	position: relative;
	margin-right: -10000px;
}

#u5337.MuseMenuActive,#u5402:hover
{
	width: 118px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u5404-4
{
	width: 110px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	position: relative;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u5337.MuseMenuActive #u5340-4,#u5402:hover #u5404-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 110px;
	margin: 0px -10000px 0px 0px;
}

#u5386
{
	width: 118px;
	padding-bottom: 4px;
	position: relative;
	margin-right: -10000px;
}

#u5402.MuseMenuActive,#u5386:hover
{
	width: 118px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u5388-4
{
	width: 110px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	position: relative;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u5402.MuseMenuActive #u5404-4,#u5386:hover #u5388-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 110px;
	margin: 0px -10000px 0px 0px;
}

#u5346
{
	width: 118px;
	padding-bottom: 4px;
	position: relative;
	margin-right: -10000px;
}

#u5386.MuseMenuActive,#u5346:hover
{
	width: 118px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u5349-4
{
	width: 110px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	position: relative;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u5386.MuseMenuActive #u5388-4,#u5346:hover #u5349-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 110px;
	margin: 0px -10000px 0px 0px;
}

#u5379
{
	width: 118px;
	padding-bottom: 4px;
	position: relative;
	margin-right: -10000px;
}

#u5346.MuseMenuActive,#u5379:hover
{
	width: 118px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u5382-4
{
	width: 110px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	position: relative;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u5346.MuseMenuActive #u5349-4,#u5379:hover #u5382-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 110px;
	margin: 0px -10000px 0px 0px;
}

#u5374
{
	width: 118px;
	padding-bottom: 4px;
	position: relative;
	margin-right: -10000px;
}

#u5379.MuseMenuActive,#u5374:hover
{
	width: 118px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u5375-4
{
	width: 95px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	position: relative;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u5374:hover #u5375-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 95px;
	margin: 0px -10000px 0px 0px;
}

#u5374.MuseMenuActive #u5375-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 95px;
	margin: 0px -10000px 0px 0px;
}

#u5377
{
	z-index: 221;
	width: 14px;
	height: 14px;
	position: relative;
	margin-right: -10000px;
	top: 3px;
	left: 102px;
}

#u5330.MuseMenuActive #u5332,#u5374:hover #u5377
{
	width: 14px;
	height: 14px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u5374.MuseMenuActive #u5377
{
	width: 14px;
	height: 14px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u5351
{
	width: 120px;
	left: 120px;
}

#u30959
{
	width: 118px;
	padding-bottom: 4px;
	position: relative;
	margin-right: -10000px;
}

#u5374.MuseMenuActive,#u30959:hover
{
	width: 118px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u30963-4
{
	width: 110px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	position: relative;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u5379.MuseMenuActive #u5382-4,#u30959:hover #u30963-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 110px;
	margin: 0px -10000px 0px 0px;
}

#u5335,#u5392,#u5336,#u5399,#u5385,#u5343,#u5378,#u5350,#u5352,#u30957,#u31303
{
	width: 120px;
	position: relative;
}

#u31304
{
	width: 118px;
	padding-bottom: 4px;
	position: relative;
	margin-right: -10000px;
}

#u30959.MuseMenuActive,#u31304:hover
{
	width: 118px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u31304.MuseMenuActive
{
	width: 118px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u31306-4
{
	width: 110px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	position: relative;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u30959.MuseMenuActive #u30963-4,#u31304:hover #u31306-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 110px;
	margin: 0px -10000px 0px 0px;
}

#u31304.MuseMenuActive #u31306-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 110px;
	margin: 0px -10000px 0px 0px;
}

#u5406
{
	width: 110px;
	min-height: 42px;
	position: relative;
	margin-right: -10000px;
	left: 336px;
}

#u5409
{
	width: 110px;
	padding-bottom: 25px;
	position: relative;
}

#u5311.MuseMenuActive,#u5316.MuseMenuActive,#u5330.MuseMenuActive,#u5409.MuseMenuActive
{
	width: 110px;
	min-height: 0px;
	margin: 0px;
}

#u5312,#u5317,#u5411
{
	height: 17px;
	width: 110px;
	position: relative;
	margin-right: -10000px;
	top: 12px;
}

#u31198-4
{
	z-index: 19;
	width: 585px;
	min-height: 48px;
	background-color: transparent;
	line-height: 47px;
	margin-top: 18px;
	position: relative;
	margin-left: 19.59%;
}

#pu32177
{
	margin-top: 22px;
	width: 100%;
}

#u32177
{
	z-index: 12;
	width: 902px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: 2.92%;
}

#u32168
{
	z-index: 13;
	width: 898px;
	padding-bottom: 1px;
	position: relative;
}

#u32174-4
{
	z-index: 15;
	width: 379px;
	min-height: 29px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 28.85%;
}

#u32171
{
	z-index: 14;
	width: 898px;
	height: 48px;
	top: -2px;
	margin-bottom: -2px;
	position: relative;
}

#u32552-4
{
	z-index: 73;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 32px;
	left: 39px;
}

#u32597
{
	z-index: 23;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 1px;
	margin-top: 17px;
	position: relative;
	width: 93.75%;
	margin-left: 3.03%;
}

#u31104
{
	z-index: 24;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	width: 33.34%;
}

#u31114
{
	z-index: 26;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	width: 33.34%;
	left: 33.45%;
}

#u31134
{
	z-index: 28;
	width: 300px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 66.67%;
}

#u31143-7
{
	z-index: 30;
	min-height: 198px;
	background-color: transparent;
	line-height: 24px;
	margin-top: 26px;
	position: relative;
	width: 97.78%;
	margin-left: 1.12%;
}

#u31146
{
	z-index: 37;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	width: 51.69%;
}

#u31156-7
{
	z-index: 39;
	min-height: 304px;
	background-color: transparent;
	line-height: 24px;
	position: relative;
	margin-right: -10000px;
	width: 46.07%;
	left: 53.94%;
}

#u31169-7
{
	z-index: 48;
	min-height: 304px;
	background-color: transparent;
	line-height: 24px;
	position: relative;
	margin-right: -10000px;
	width: 46.07%;
}

#u31159
{
	z-index: 46;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	width: 51.69%;
	left: 48.32%;
}

#pu31146,#pu31172
{
	margin-top: 26px;
	width: 98.89%;
}

#u31172
{
	z-index: 55;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	width: 51.69%;
}

#u31182-7
{
	z-index: 57;
	min-height: 304px;
	background-color: transparent;
	line-height: 24px;
	position: relative;
	margin-right: -10000px;
	width: 46.52%;
	left: 53.49%;
}

#pu31169-7,#pu31195-7
{
	margin-top: 26px;
	width: 98.89%;
	margin-left: 1.12%;
}

#u31195-7
{
	z-index: 66;
	min-height: 304px;
	background-color: transparent;
	line-height: 24px;
	position: relative;
	margin-right: -10000px;
	width: 46.41%;
}

#u31185
{
	z-index: 64;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	width: 51.69%;
	left: 48.32%;
}

#pu31104,#u31104_img,#u31114_img,#u31146_img,#u31159_img,#u31172_img,#u31185_img
{
	width: 100%;
}

#pu32075
{
	margin-top: 27px;
	width: 100%;
}

#u32075
{
	z-index: 2;
	width: 902px;
	padding-bottom: 1px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: 2.92%;
}

#pu4240
{
	margin-right: -10000px;
	margin-top: 1px;
	width: 99.78%;
	margin-left: 0.12%;
}

#u4240
{
	z-index: 4;
	width: 598px;
	height: 451px;
	position: relative;
	margin-right: -10000px;
	margin-top: 32px;
	left: 0.12%;
}

#u4382
{
	z-index: 5;
	width: 298px;
	height: 451px;
	position: relative;
	margin-right: -10000px;
	margin-top: 32px;
	left: 66.56%;
}

#u4531
{
	z-index: 6;
	width: 900px;
	height: 33px;
	position: relative;
	margin-right: -10000px;
}

#u4534
{
	z-index: 7;
	width: 898px;
	padding-bottom: 599px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: 0.12%;
}

#u4243-4
{
	z-index: 8;
	width: 379px;
	min-height: 29px;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
	left: 29.07%;
}

#u4478
{
	z-index: 3;
	width: 900px;
	height: 147px;
	position: relative;
	margin-right: -10000px;
	margin-top: 487px;
	left: 0.12%;
}

#u32555-4
{
	z-index: 77;
	width: 171px;
	min-height: 31px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 31px;
	font-size: 26px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 34px;
	left: 4.17%;
}

#u32556-4
{
	z-index: 81;
	width: 110px;
	min-height: 31px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 31px;
	font-size: 26px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 34px;
	left: 34.8%;
}

#u32557-4
{
	z-index: 85;
	width: 116px;
	min-height: 31px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 31px;
	font-size: 26px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 204px;
	left: 4.07%;
}

#u32558-4
{
	z-index: 89;
	width: 135px;
	min-height: 31px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 31px;
	font-size: 26px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 204px;
	left: 35.11%;
}

#u32559-4
{
	z-index: 93;
	width: 153px;
	min-height: 31px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 31px;
	font-size: 26px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 34px;
	left: 65.53%;
}

#u32555,#u32556,#u32557,#u32558,#u32559
{
	text-decoration: underline;
}

#u32560-4
{
	z-index: 97;
	width: 280px;
	min-height: 117px;
	background-color: transparent;
	line-height: 17px;
	position: relative;
	margin-right: -10000px;
	margin-top: 75px;
	left: 4.07%;
}

#u32561-13
{
	z-index: 101;
	width: 290px;
	min-height: 119px;
	background-color: transparent;
	line-height: 17px;
	position: relative;
	margin-right: -10000px;
	margin-top: 75px;
	left: 34.38%;
}

#u32562-4
{
	z-index: 114;
	background-color: transparent;
	line-height: 17px;
	position: relative;
	margin-right: -10000px;
	margin-top: 245px;
	width: 29.17%;
	left: 4.07%;
}

#u32563-9
{
	z-index: 118;
	width: 290px;
	background-color: transparent;
	line-height: 17px;
	position: relative;
	margin-right: -10000px;
	margin-top: 245px;
	left: 34.28%;
}

#u32564-4
{
	z-index: 127;
	width: 256px;
	min-height: 30px;
	background-color: #317873;
	border-radius: 7px;
	color: #FFFFFF;
	line-height: 20px;
	font-size: 20px;
	text-align: center;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: normal;
	position: relative;
	margin-right: -10000px;
	margin-top: 79px;
	left: 67.82%;
}

#u32565-4
{
	z-index: 131;
	width: 256px;
	min-height: 30px;
	background-color: #317873;
	border-radius: 7px;
	color: #FFFFFF;
	line-height: 20px;
	font-size: 20px;
	text-align: center;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: normal;
	position: relative;
	margin-right: -10000px;
	margin-top: 124px;
	left: 67.82%;
}

#u32564-2,#u32565-2
{
	padding-top: 6px;
}

#u32566-4
{
	z-index: 135;
	width: 462px;
	min-height: 31px;
	background-color: transparent;
	line-height: 31px;
	position: relative;
	margin-right: -10000px;
	margin-top: 496px;
	left: 4.07%;
}

#u32567-11
{
	z-index: 139;
	width: 290px;
	min-height: 69px;
	background-color: transparent;
	line-height: 17px;
	position: relative;
	margin-right: -10000px;
	margin-top: 537px;
	left: 4.07%;
}

#u32568-3
{
	z-index: 150;
	width: 290px;
	min-height: 69px;
	background-color: transparent;
	line-height: 17px;
	position: relative;
	margin-right: -10000px;
	margin-top: 537px;
	left: 35.32%;
}

#pu3276
{
	margin-top: 24px;
	width: 100%;
}

.js body
{
	visibility: hidden;
}

.js body.initialized
{
	visibility: visible;
}

#u3276,#u3276-bw
{
	z-index: 156;
	height: 61px;
}

#u32764
{
	z-index: 243;
	height: 40px;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	width: 4.17%;
	left: 47.92%;
}

.html
{
	background-color: #1E1E1E;
}

body
{
	position: relative;
	min-width: 960px;
}

