.version.slipgrip_phone_case /* version checker */
{
	color: #0000FB;
	background-color: #93A412;
}

#muse_css_mq
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	min-height: 2815.95px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: #1E1E1E;
	padding-bottom: 0px;
	width: 100%;
	max-width: 960px;
	margin-left: auto;
	margin-right: auto;
}

#pu3334-3
{
	padding-bottom: 62px;
	width: 100%;
}

#u3334-3
{
	z-index: 137;
	min-height: 62px;
	position: fixed;
	top: 0px;
}

#u3334-3-bw
{
	z-index: 137;
}

#menuu5307
{
	z-index: 141;
	width: 446px;
	position: fixed;
	top: 20px;
	left: 50%;
	margin-left: -460px;
}

#u5308
{
	width: 110px;
	min-height: 42px;
	position: relative;
	margin-right: -10000px;
}

#u5311
{
	width: 110px;
	padding-bottom: 25px;
	position: relative;
}

#u5315
{
	width: 110px;
	min-height: 42px;
	position: relative;
	margin-right: -10000px;
	left: 112px;
}

#u5316
{
	width: 110px;
	padding-bottom: 25px;
	position: relative;
}

#u5329
{
	width: 110px;
	min-height: 42px;
	position: relative;
	margin-right: -10000px;
	left: 224px;
}

#u5330
{
	width: 110px;
	padding-bottom: 25px;
	position: relative;
}

#u5333
{
	height: 17px;
	width: 96px;
	position: relative;
	margin-right: -10000px;
	top: 12px;
}

#u5332
{
	z-index: 160;
	width: 14px;
	height: 14px;
	position: relative;
	margin-right: -10000px;
	top: 14px;
	left: 96px;
}

#u5334
{
	width: 120px;
	top: 42px;
}

#u5393
{
	width: 118px;
	padding-bottom: 4px;
	position: relative;
	margin-right: -10000px;
}

#u5393:hover
{
	width: 118px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u5394-4
{
	width: 110px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	position: relative;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u5393:hover #u5394-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 110px;
	margin: 0px -10000px 0px 0px;
}

#u5337
{
	width: 118px;
	padding-bottom: 4px;
	position: relative;
	margin-right: -10000px;
}

#u5393.MuseMenuActive,#u5337:hover
{
	width: 118px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u5340-4
{
	width: 110px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	position: relative;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u5393.MuseMenuActive #u5394-4,#u5337:hover #u5340-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 110px;
	margin: 0px -10000px 0px 0px;
}

#u5402
{
	width: 118px;
	padding-bottom: 4px;
	position: relative;
	margin-right: -10000px;
}

#u5337.MuseMenuActive,#u5402:hover
{
	width: 118px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u5404-4
{
	width: 110px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	position: relative;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u5337.MuseMenuActive #u5340-4,#u5402:hover #u5404-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 110px;
	margin: 0px -10000px 0px 0px;
}

#u5386
{
	width: 118px;
	padding-bottom: 4px;
	position: relative;
	margin-right: -10000px;
}

#u5402.MuseMenuActive,#u5386:hover
{
	width: 118px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u5388-4
{
	width: 110px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	position: relative;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u5402.MuseMenuActive #u5404-4,#u5386:hover #u5388-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 110px;
	margin: 0px -10000px 0px 0px;
}

#u5346
{
	width: 118px;
	padding-bottom: 4px;
	position: relative;
	margin-right: -10000px;
}

#u5386.MuseMenuActive,#u5346:hover
{
	width: 118px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u5349-4
{
	width: 110px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	position: relative;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u5386.MuseMenuActive #u5388-4,#u5346:hover #u5349-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 110px;
	margin: 0px -10000px 0px 0px;
}

#u5379
{
	width: 118px;
	padding-bottom: 4px;
	position: relative;
	margin-right: -10000px;
}

#u5346.MuseMenuActive,#u5379:hover
{
	width: 118px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u5382-4
{
	width: 110px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	position: relative;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u5346.MuseMenuActive #u5349-4,#u5379:hover #u5382-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 110px;
	margin: 0px -10000px 0px 0px;
}

#u5374
{
	width: 118px;
	padding-bottom: 4px;
	position: relative;
	margin-right: -10000px;
}

#u5379.MuseMenuActive,#u5374:hover
{
	width: 118px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u5375-4
{
	width: 95px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	position: relative;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u5374:hover #u5375-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 95px;
	margin: 0px -10000px 0px 0px;
}

#u5374.MuseMenuActive #u5375-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 95px;
	margin: 0px -10000px 0px 0px;
}

#u5377
{
	z-index: 205;
	width: 14px;
	height: 14px;
	position: relative;
	margin-right: -10000px;
	top: 3px;
	left: 102px;
}

#u5330.MuseMenuActive #u5332,#u5374:hover #u5377
{
	width: 14px;
	height: 14px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u5374.MuseMenuActive #u5377
{
	width: 14px;
	height: 14px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u5351
{
	width: 120px;
	left: 120px;
}

#u30959
{
	width: 118px;
	padding-bottom: 4px;
	position: relative;
	margin-right: -10000px;
}

#u5374.MuseMenuActive,#u30959:hover
{
	width: 118px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u30963-4
{
	width: 110px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	position: relative;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u5379.MuseMenuActive #u5382-4,#u30959:hover #u30963-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 110px;
	margin: 0px -10000px 0px 0px;
}

#u5335,#u5392,#u5336,#u5399,#u5385,#u5343,#u5378,#u5350,#u5352,#u30957,#u31303
{
	width: 120px;
	position: relative;
}

#u31304
{
	width: 118px;
	padding-bottom: 4px;
	position: relative;
	margin-right: -10000px;
}

#u30959.MuseMenuActive,#u31304:hover
{
	width: 118px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u31304.MuseMenuActive
{
	width: 118px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u31306-4
{
	width: 110px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	position: relative;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u30959.MuseMenuActive #u30963-4,#u31304:hover #u31306-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 110px;
	margin: 0px -10000px 0px 0px;
}

#u31304.MuseMenuActive #u31306-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 110px;
	margin: 0px -10000px 0px 0px;
}

#u5406
{
	width: 110px;
	min-height: 42px;
	position: relative;
	margin-right: -10000px;
	left: 336px;
}

#u5409
{
	width: 110px;
	padding-bottom: 25px;
	position: relative;
}

#u5311.MuseMenuActive,#u5316.MuseMenuActive,#u5330.MuseMenuActive,#u5409.MuseMenuActive
{
	width: 110px;
	min-height: 0px;
	margin: 0px;
}

#u5312,#u5317,#u5411
{
	height: 17px;
	width: 110px;
	position: relative;
	margin-right: -10000px;
	top: 12px;
}

#u31198-4
{
	z-index: 133;
	width: 585px;
	min-height: 48px;
	background-color: transparent;
	line-height: 47px;
	margin-top: 18px;
	position: relative;
	margin-left: 19.59%;
}

#pu4478
{
	margin-top: 32px;
	width: 100%;
}

#u4478
{
	z-index: 2;
	width: 900px;
	height: 147px;
	position: relative;
	margin-right: -10000px;
	margin-top: 486px;
	left: 3.03%;
}

#u29671
{
	z-index: 3;
	width: 902px;
	position: relative;
	margin-right: -10000px;
	margin-top: 32px;
	left: 2.92%;
}

#u4240
{
	z-index: 4;
	width: 598px;
	height: 451px;
	position: relative;
	margin-right: -10000px;
}

#u4382
{
	z-index: 5;
	width: 298px;
	height: 451px;
	position: relative;
	margin-right: -10000px;
	left: 66.52%;
}

#u4531
{
	z-index: 6;
	width: 900px;
	height: 33px;
	position: relative;
	margin-right: -10000px;
	left: 3.03%;
}

#u4534
{
	z-index: 7;
	width: 898px;
	padding-top: 3px;
	padding-bottom: 11.049999999999955px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: 2.92%;
}

#u4243-4
{
	z-index: 8;
	width: 379px;
	min-height: 29px;
	position: relative;
	margin-left: 29.07%;
}

#pu31050-4
{
	margin-top: 18px;
	width: 83.86%;
	margin-left: 1.01%;
}

#u31050-4
{
	z-index: 12;
	width: 171px;
	min-height: 31px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 31px;
	font-size: 26px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
}

#u31051-4
{
	z-index: 16;
	width: 110px;
	min-height: 31px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 31px;
	font-size: 26px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	left: 39.85%;
}

#u31054-4
{
	z-index: 28;
	width: 153px;
	min-height: 31px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 31px;
	font-size: 26px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	left: 79.69%;
}

#ppu31059-4
{
	margin-top: 11px;
	width: 96.78%;
	margin-left: 0.9%;
}

#pu31059-4
{
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 4px;
	width: 29.46%;
	margin-left: 70.55%;
}

#u31059-4
{
	z-index: 62;
	width: 256px;
	min-height: 30px;
	background-color: #317873;
	border-radius: 7px;
	color: #FFFFFF;
	line-height: 20px;
	text-align: center;
	font-size: 20px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: normal;
	position: relative;
}

#u31063-4
{
	z-index: 66;
	width: 256px;
	min-height: 30px;
	background-color: #317873;
	border-radius: 7px;
	color: #FFFFFF;
	line-height: 20px;
	text-align: center;
	font-size: 20px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: normal;
	margin-top: 14px;
	position: relative;
}

#u31059-2,#u31063-2
{
	padding-top: 6px;
}

#u31055-4
{
	z-index: 32;
	width: 290px;
	min-height: 101px;
	background-color: transparent;
	line-height: 17px;
	position: relative;
	margin-right: -10000px;
}

#u31056-13
{
	z-index: 36;
	width: 315px;
	min-height: 101px;
	background-color: transparent;
	line-height: 17px;
	position: relative;
	margin-right: -10000px;
	left: 31.77%;
}

#pu31052-4
{
	margin-top: 75px;
	width: 48.22%;
	margin-left: 1.01%;
}

#u31052-4
{
	z-index: 20;
	width: 116px;
	min-height: 31px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 31px;
	font-size: 26px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
}

#u31053-4
{
	z-index: 24;
	width: 135px;
	min-height: 31px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 31px;
	font-size: 26px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	left: 68.83%;
}

#u31050,#u31051,#u31054,#u31052,#u31053
{
	text-decoration: underline;
}

#pu31057-4
{
	margin-top: 9px;
	width: 59.36%;
	margin-left: 1.01%;
}

#u31057-4
{
	z-index: 49;
	background-color: transparent;
	line-height: 17px;
	position: relative;
	margin-right: -10000px;
	width: 53.29%;
}

#u31058-9
{
	z-index: 53;
	width: 257px;
	background-color: transparent;
	line-height: 17px;
	position: relative;
	margin-right: -10000px;
	left: 51.79%;
}

#u31064-4
{
	z-index: 70;
	width: 462px;
	min-height: 31px;
	background-color: transparent;
	line-height: 31px;
	margin-top: 71px;
	position: relative;
	margin-left: 1.01%;
}

#pu31065-7
{
	margin-top: 6px;
	width: 65.71%;
	margin-left: 1.01%;
}

#u31065-7
{
	z-index: 74;
	width: 290px;
	min-height: 101px;
	background-color: transparent;
	line-height: 17px;
	position: relative;
	margin-right: -10000px;
}

#u31066-3
{
	z-index: 81;
	width: 290px;
	min-height: 101px;
	background-color: transparent;
	line-height: 17px;
	position: relative;
	margin-right: -10000px;
	left: 50.85%;
}

#pu31104
{
	margin-top: 62px;
	width: 100%;
}

#u31104
{
	z-index: 84;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	width: 31.25%;
	left: 3.03%;
}

#u31114
{
	z-index: 86;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	width: 31.25%;
	left: 34.38%;
}

#u31134
{
	z-index: 88;
	width: 300px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 629px;
}

#u31143-7
{
	z-index: 90;
	min-height: 198px;
	background-color: transparent;
	line-height: 24px;
	margin-top: 26px;
	position: relative;
	width: 91.67%;
	margin-left: 4.07%;
}

#u31146
{
	z-index: 97;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	width: 47.92%;
	left: 3.03%;
}

#u31156-7
{
	z-index: 99;
	min-height: 304px;
	background-color: transparent;
	line-height: 24px;
	position: relative;
	margin-right: -10000px;
	width: 42.71%;
	left: 53.03%;
}

#u31169-7
{
	z-index: 108;
	min-height: 304px;
	background-color: transparent;
	line-height: 24px;
	position: relative;
	margin-right: -10000px;
	width: 42.71%;
	left: 4.07%;
}

#u31159
{
	z-index: 106;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	width: 47.92%;
	left: 48.86%;
}

#u31172
{
	z-index: 115;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	width: 47.92%;
	left: 3.03%;
}

#u31182-7
{
	z-index: 117;
	min-height: 304px;
	background-color: transparent;
	line-height: 24px;
	position: relative;
	margin-right: -10000px;
	width: 43.13%;
	left: 52.61%;
}

#pu31146,#pu31169-7,#pu31172,#pu31195-7
{
	margin-top: 26px;
	width: 100%;
}

#u31195-7
{
	z-index: 126;
	min-height: 304px;
	background-color: transparent;
	line-height: 24px;
	position: relative;
	margin-right: -10000px;
	width: 43.03%;
	left: 4.07%;
}

#u31185
{
	z-index: 124;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	width: 47.92%;
	left: 48.86%;
}

#u31104_img,#u31114_img,#u31146_img,#u31159_img,#u31172_img,#u31185_img
{
	width: 100%;
}

#u3276
{
	z-index: 140;
	height: 61px;
}

.js body
{
	visibility: hidden;
}

.js body.initialized
{
	visibility: visible;
}

#u3276-bw
{
	z-index: 140;
	margin-top: 36px;
	height: 61px;
}

.html
{
	background-color: #1E1E1E;
}

body
{
	position: relative;
	min-width: 960px;
}

