.version.work /* version checker */
{
	color: #000004;
	background-color: #317029;
}

#muse_css_mq
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 930.9500000000003px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: #1E1E1E;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-bottom: -1px;
	width: 0.01px;/* should not cover content below */
}

#pu1738-3
{
	width: 0.01px;
	padding-bottom: 62px;
}

#u1738-3
{
	z-index: 70;
	min-height: 62px;
	position: fixed;
	top: 0px;
}

#u1738-3-bw
{
	z-index: 70;
}

#menuu2407
{
	z-index: 74;
	width: 446px;
	position: fixed;
	top: 20px;
	left: 50%;
	margin-left: -460px;
}

#u2429
{
	width: 110px;
	min-height: 42px;
	position: relative;
	margin-right: -10000px;
}

#u2430
{
	width: 110px;
	padding-bottom: 25px;
	position: relative;
}

#u2431-4
{
	width: 110px;
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 12px;
}

#u2430:hover #u2431-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 110px;
	margin: 0px -10000px 0px 0px;
}

#u2430:active #u2431-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 110px;
	margin: 0px -10000px 0px 0px;
}

#u2422
{
	width: 110px;
	min-height: 42px;
	position: relative;
	margin-right: -10000px;
	left: 112px;
}

#u2425
{
	width: 110px;
	padding-bottom: 25px;
	position: relative;
}

#u2428-4
{
	width: 110px;
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 12px;
}

#u2430.MuseMenuActive #u2431-4,#u2425:hover #u2428-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 110px;
	margin: 0px -10000px 0px 0px;
}

#u2425:active #u2428-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 110px;
	margin: 0px -10000px 0px 0px;
}

#u2408
{
	width: 110px;
	min-height: 42px;
	position: relative;
	margin-right: -10000px;
	left: 224px;
}

#u2409
{
	width: 110px;
	padding-bottom: 25px;
	position: relative;
}

#u2412-4
{
	width: 96px;
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 12px;
}

#u2409:hover #u2412-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 96px;
	margin: 0px -10000px 0px 0px;
}

#u2409:active #u2412-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 96px;
	margin: 0px -10000px 0px 0px;
}

#u2409.MuseMenuActive #u2412-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 96px;
	margin: 0px -10000px 0px 0px;
}

#u2411
{
	z-index: 93;
	width: 14px;
	height: 14px;
	position: relative;
	margin-right: -10000px;
	top: 14px;
	left: 96px;
}

#u2413
{
	width: 120px;
	top: 42px;
}

#u3058
{
	width: 118px;
	padding-bottom: 4px;
	position: relative;
	margin-right: -10000px;
}

#u3058:hover
{
	width: 118px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u3061-4
{
	width: 110px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	position: relative;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u3058:hover #u3061-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 110px;
	margin: 0px -10000px 0px 0px;
}

#u3363
{
	width: 118px;
	padding-bottom: 4px;
	position: relative;
	margin-right: -10000px;
}

#u3058.MuseMenuActive,#u3363:hover
{
	width: 118px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u3364-4
{
	width: 110px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	position: relative;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u3058.MuseMenuActive #u3061-4,#u3363:hover #u3364-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 110px;
	margin: 0px -10000px 0px 0px;
}

#u3427
{
	width: 118px;
	padding-bottom: 4px;
	position: relative;
	margin-right: -10000px;
}

#u3363.MuseMenuActive,#u3427:hover
{
	width: 118px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u3428-4
{
	width: 110px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	position: relative;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u3363.MuseMenuActive #u3364-4,#u3427:hover #u3428-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 110px;
	margin: 0px -10000px 0px 0px;
}

#u3495
{
	width: 118px;
	padding-bottom: 4px;
	position: relative;
	margin-right: -10000px;
}

#u3427.MuseMenuActive,#u3495:hover
{
	width: 118px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u3498-4
{
	width: 110px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	position: relative;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u3427.MuseMenuActive #u3428-4,#u3495:hover #u3498-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 110px;
	margin: 0px -10000px 0px 0px;
}

#u3561
{
	width: 118px;
	padding-bottom: 4px;
	position: relative;
	margin-right: -10000px;
}

#u3495.MuseMenuActive,#u3561:hover
{
	width: 118px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u3564-4
{
	width: 110px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	position: relative;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u3495.MuseMenuActive #u3498-4,#u3561:hover #u3564-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 110px;
	margin: 0px -10000px 0px 0px;
}

#u3625
{
	width: 118px;
	padding-bottom: 4px;
	position: relative;
	margin-right: -10000px;
}

#u3561.MuseMenuActive,#u3625:hover
{
	width: 118px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u3627-4
{
	width: 110px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	position: relative;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u3561.MuseMenuActive #u3564-4,#u3625:hover #u3627-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 110px;
	margin: 0px -10000px 0px 0px;
}

#u3031
{
	width: 118px;
	padding-bottom: 4px;
	position: relative;
	margin-right: -10000px;
}

#u3625.MuseMenuActive,#u3031:hover
{
	width: 118px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u3035-4
{
	width: 95px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	position: relative;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u3031:hover #u3035-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 95px;
	margin: 0px -10000px 0px 0px;
}

#u3031.MuseMenuActive #u3035-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 95px;
	margin: 0px -10000px 0px 0px;
}

#u3037
{
	z-index: 138;
	width: 14px;
	height: 14px;
	position: relative;
	margin-right: -10000px;
	top: 3px;
	left: 102px;
}

#u2409.MuseMenuActive #u2411,#u3031:hover #u3037
{
	width: 14px;
	height: 14px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u3031.MuseMenuActive #u3037
{
	width: 14px;
	height: 14px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u3039
{
	width: 120px;
	left: 120px;
}

#u30980
{
	width: 118px;
	padding-bottom: 4px;
	position: relative;
	margin-right: -10000px;
}

#u3031.MuseMenuActive,#u30980:hover
{
	width: 118px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u30984-4
{
	width: 110px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	position: relative;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u3625.MuseMenuActive #u3627-4,#u30980:hover #u30984-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 110px;
	margin: 0px -10000px 0px 0px;
}

#u31327
{
	width: 118px;
	padding-bottom: 4px;
	position: relative;
	margin-right: -10000px;
}

#u30980.MuseMenuActive,#u31327:hover
{
	width: 118px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u31328-4
{
	width: 110px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	position: relative;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u30980.MuseMenuActive #u30984-4,#u31327:hover #u31328-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 110px;
	margin: 0px -10000px 0px 0px;
}

#u2414,#u3057,#u3360,#u3426,#u3492,#u3558,#u3624,#u3029,#u3041,#u30978,#u31324,#u32825
{
	width: 120px;
	position: relative;
}

#u32828
{
	width: 118px;
	padding-bottom: 4px;
	position: relative;
	margin-right: -10000px;
}

#u31327.MuseMenuActive,#u32828:hover
{
	width: 118px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u32828.MuseMenuActive
{
	width: 118px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u32831-4
{
	width: 110px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	position: relative;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u31327.MuseMenuActive #u31328-4,#u32828:hover #u32831-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 110px;
	margin: 0px -10000px 0px 0px;
}

#u32828.MuseMenuActive #u32831-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 110px;
	margin: 0px -10000px 0px 0px;
}

#u2415
{
	width: 110px;
	min-height: 42px;
	position: relative;
	margin-right: -10000px;
	left: 336px;
}

#u2416
{
	width: 110px;
	padding-bottom: 25px;
	position: relative;
}

#u2430.MuseMenuActive,#u2425.MuseMenuActive,#u2409.MuseMenuActive,#u2416.MuseMenuActive
{
	width: 110px;
	min-height: 0px;
	margin: 0px;
}

#u2417-4
{
	width: 110px;
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 12px;
}

#u2425.MuseMenuActive #u2428-4,#u2416:hover #u2417-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 110px;
	margin: 0px -10000px 0px 0px;
}

#u2416:active #u2417-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 110px;
	margin: 0px -10000px 0px 0px;
}

#u2416.MuseMenuActive #u2417-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 110px;
	margin: 0px -10000px 0px 0px;
}

#u2554-4
{
	z-index: 2;
	width: 379px;
	min-height: 48px;
	background-color: transparent;
	line-height: 47px;
	margin-left: 276px;
	margin-top: 18px;
	position: relative;
}

#ppu2761
{
	width: 0.01px;
	margin-left: 30px;
	margin-top: 20px;
}

#u2761
{
	z-index: 6;
	width: 300px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u2759
{
	z-index: 7;
	display: block;
}

#u33899-8
{
	z-index: 30;
	width: 300px;
	min-height: 200px;
	background-color: #FFFFFF;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	color: #000000;
	text-align: center;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
}

#u2902
{
	z-index: 12;
	width: 300px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 600px;
}

#u2620
{
	z-index: 14;
	width: 300px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u2620:hover
{
	border-width: 0px;
	border-color: transparent;
	background-color: #FF67EC;
	border-radius: 0px;
	width: 300px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u2620_img
{
	margin-left: -38px;
	margin-right: -19px;
}

#u33898-8
{
	z-index: 22;
	width: 300px;
	min-height: 200px;
	background-color: #FFFFFF;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	color: #000000;
	text-align: center;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
}

#u33900-8
{
	z-index: 38;
	width: 300px;
	min-height: 200px;
	background-color: #FFFFFF;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	color: #000000;
	text-align: center;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	left: 600px;
}

#ppu2841
{
	width: 0.01px;
	margin-left: 30px;
	margin-top: -1px;
}

#pu2761,#pu2841
{
	width: 0.01px;
	margin-right: -10000px;
	margin-left: 300px;
}

#u2841
{
	z-index: 20;
	width: 300px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u33902-8
{
	z-index: 54;
	width: 300px;
	min-height: 200px;
	background-color: #FFFFFF;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	color: #000000;
	text-align: center;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
}

#u2686
{
	z-index: 8;
	width: 300px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 600px;
}

#u2810
{
	z-index: 10;
	width: 300px;
	background-color: #EFEFEF;
	position: relative;
	margin-right: -10000px;
}

#u2810_img
{
	padding-top: 14px;
	padding-bottom: 15px;
}

#u33901-8
{
	z-index: 46;
	width: 300px;
	min-height: 200px;
	background-color: #FFFFFF;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	color: #000000;
	text-align: center;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
}

#u33903-8
{
	z-index: 62;
	width: 300px;
	min-height: 200px;
	background-color: #FFFFFF;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	color: #000000;
	text-align: center;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	left: 600px;
}

#u33899-8:hover,#u33898-8:hover,#u33900-8:hover,#u33902-8:hover,#u33901-8:hover,#u33903-8:hover
{
	opacity: 0.92;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=92)";
	filter: alpha(opacity=92);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 200px;
	width: 300px;
	margin: 0px -10000px 0px 0px;
}

#u33899-2,#u33898-2,#u33900-2,#u33902-2,#u33901-2,#u33903-2
{
	font-size: 30px;
	line-height: 36px;
	padding-top: 15px;
	font-weight: bold;
}

#u33899-4,#u33898-4,#u33900-4,#u33902-4,#u33901-4,#u33903-4
{
	font-size: 25px;
	padding-right: 10px;
	padding-left: 10px;
	padding-top: 33px;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u33899-3,#u33898-3,#u33900-3,#u33902-3,#u33901-3,#u33903-3
{
	font-size: 14px;
	line-height: 17px;
}

#u33899-6,#u33898-6,#u33900-6,#u33902-6,#u33901-6,#u33903-6
{
	font-size: 12px;
	line-height: 14px;
	padding-right: 10px;
	padding-left: 10px;
	padding-top: 15px;
	font-weight: bold;
	font-style: italic;
}

#u33899-5,#u33898-5,#u33900-5,#u33902-5,#u33901-5,#u33903-5
{
	font-weight: normal;
}

#u3002
{
	z-index: 16;
	width: 300px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-left: 330px;
	margin-top: 59px;
	position: relative;
}

#u2974
{
	z-index: 17;
	width: 300px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u2974_img
{
	margin-left: -30px;
	margin-right: -30px;
}

#u2984
{
	z-index: 19;
	width: 300px;
	height: 200px;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../images/other%20stuff%20overlay-background.png") no-repeat left top;
	background-size: contain;
}

#u2984:hover
{
	width: 300px;
	height: 200px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
	background: transparent url("../images/other%20stuff%20overlay-vector%20smart%20object.png") no-repeat left top;
	background-size: contain;
}

#pu1737
{
	width: 0.01px;
	margin-top: 63px;
}

.js body
{
	visibility: hidden;
}

.js body.initialized
{
	visibility: visible;
}

#u1737,#u1737-bw
{
	z-index: 73;
	height: 62px;
}

#u32754
{
	z-index: 166;
	height: 40px;
	width: 40px;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 460px;
}

#u33608
{
	z-index: 169;
	height: 36px;
	width: 47px;
	position: relative;
	margin-right: -10000px;
	margin-top: 13px;
	left: 403px;
}

.html
{
	background-color: #1E1E1E;
}

body
{
	position: relative;
	min-width: 960px;
}

