.version.body_hero /* version checker */
{
	color: #00000C;
	background-color: #D5B158;
}

#page
{
	z-index: 1;
	min-height: 931px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: #FFFFFF;
	width: 100%;
	max-width: 960px;
	margin-left: auto;
	margin-right: auto;
}

#pu3334-3
{
	width: 0.01px;
	padding-bottom: 62px;
	margin-right: -10000px;
}

#u3334-3
{
	z-index: 3;
	min-height: 62px;
	position: fixed;
	top: 0px;
}

#u3334-3-bw
{
	z-index: 3;
}

#menuu3277
{
	z-index: 7;
	width: 446px;
	position: fixed;
	top: 20px;
	left: 50%;
	margin-left: -460px;
}

#u3285
{
	width: 72px;
	min-height: 42px;
	position: relative;
	margin-right: -10000px;
}

#u3286
{
	width: 72px;
	padding-bottom: 25px;
	position: relative;
}

#u3278
{
	width: 72px;
	min-height: 42px;
	position: relative;
	margin-right: -10000px;
	left: 74px;
}

#u3281
{
	width: 72px;
	padding-bottom: 25px;
	position: relative;
}

#u3286.MuseMenuActive,#u3281.MuseMenuActive
{
	width: 72px;
	min-height: 0px;
	margin: 0px;
}

#u3287,#u3284
{
	height: 17px;
	width: 72px;
	position: relative;
	margin-right: -10000px;
	top: 12px;
}

#u3292
{
	width: 73px;
	min-height: 42px;
	position: relative;
	margin-right: -10000px;
	left: 148px;
}

#u3293
{
	width: 73px;
	padding-bottom: 25px;
	position: relative;
}

#u3296
{
	height: 17px;
	width: 59px;
	position: relative;
	margin-right: -10000px;
	top: 12px;
}

#u3294
{
	z-index: 26;
	width: 14px;
	height: 14px;
	position: relative;
	margin-right: -10000px;
	top: 14px;
	left: 59px;
}

#u3297
{
	width: 120px;
	top: 42px;
}

#u3309
{
	width: 118px;
	padding-bottom: 4px;
	position: relative;
	margin-right: -10000px;
}

#u3309:hover
{
	width: 118px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u3310-4
{
	width: 110px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	position: relative;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u3309:hover #u3310-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 110px;
	margin: 0px -10000px 0px 0px;
}

#u3384
{
	width: 118px;
	padding-bottom: 4px;
	position: relative;
	margin-right: -10000px;
}

#u3309.MuseMenuActive,#u3384:hover
{
	width: 118px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u3385-4
{
	width: 110px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	position: relative;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u3309.MuseMenuActive #u3310-4,#u3384:hover #u3385-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 110px;
	margin: 0px -10000px 0px 0px;
}

#u3448
{
	width: 118px;
	padding-bottom: 4px;
	position: relative;
	margin-right: -10000px;
}

#u3384.MuseMenuActive,#u3448:hover
{
	width: 118px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u3451-4
{
	width: 110px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	position: relative;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u3384.MuseMenuActive #u3385-4,#u3448:hover #u3451-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 110px;
	margin: 0px -10000px 0px 0px;
}

#u3514
{
	width: 118px;
	padding-bottom: 4px;
	position: relative;
	margin-right: -10000px;
}

#u3448.MuseMenuActive,#u3514:hover
{
	width: 118px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u3517-4
{
	width: 110px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	position: relative;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u3448.MuseMenuActive #u3451-4,#u3514:hover #u3517-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 110px;
	margin: 0px -10000px 0px 0px;
}

#u3582
{
	width: 118px;
	padding-bottom: 4px;
	position: relative;
	margin-right: -10000px;
}

#u3514.MuseMenuActive,#u3582:hover
{
	width: 118px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u3584-4
{
	width: 110px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	position: relative;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u3514.MuseMenuActive #u3517-4,#u3582:hover #u3584-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 110px;
	margin: 0px -10000px 0px 0px;
}

#u3646
{
	width: 118px;
	padding-bottom: 4px;
	position: relative;
	margin-right: -10000px;
}

#u3582.MuseMenuActive,#u3646:hover
{
	width: 118px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u3649-4
{
	width: 110px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	position: relative;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u3582.MuseMenuActive #u3584-4,#u3646:hover #u3649-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 110px;
	margin: 0px -10000px 0px 0px;
}

#u3300
{
	width: 118px;
	padding-bottom: 4px;
	position: relative;
	margin-right: -10000px;
}

#u3646.MuseMenuActive,#u3300:hover
{
	width: 118px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u3303-4
{
	width: 95px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	position: relative;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u3300:hover #u3303-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 95px;
	margin: 0px -10000px 0px 0px;
}

#u3300.MuseMenuActive #u3303-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 95px;
	margin: 0px -10000px 0px 0px;
}

#u3301
{
	z-index: 71;
	width: 14px;
	height: 14px;
	position: relative;
	margin-right: -10000px;
	top: 3px;
	left: 102px;
}

#u3293.MuseMenuActive #u3294,#u3300:hover #u3301
{
	width: 14px;
	height: 14px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u3300.MuseMenuActive #u3301
{
	width: 14px;
	height: 14px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u3304
{
	width: 120px;
	left: 120px;
}

#u3720
{
	width: 118px;
	padding-bottom: 4px;
	position: relative;
	margin-right: -10000px;
}

#u3300.MuseMenuActive,#u3720:hover
{
	width: 118px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u3724-4
{
	width: 110px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	position: relative;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u3646.MuseMenuActive #u3649-4,#u3720:hover #u3724-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 110px;
	margin: 0px -10000px 0px 0px;
}

#u3792
{
	width: 118px;
	padding-bottom: 4px;
	position: relative;
	margin-right: -10000px;
}

#u3720.MuseMenuActive,#u3792:hover
{
	width: 118px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u3794-4
{
	width: 110px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	position: relative;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u3720.MuseMenuActive #u3724-4,#u3792:hover #u3794-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 110px;
	margin: 0px -10000px 0px 0px;
}

#u3298,#u3306,#u3381,#u3447,#u3513,#u3579,#u3645,#u3299,#u3305,#u3718,#u3789,#u3855
{
	width: 120px;
	position: relative;
}

#u3858
{
	width: 118px;
	padding-bottom: 4px;
	position: relative;
	margin-right: -10000px;
}

#u3792.MuseMenuActive,#u3858:hover
{
	width: 118px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u3858.MuseMenuActive
{
	width: 118px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u3860-4
{
	width: 110px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	position: relative;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u3792.MuseMenuActive #u3794-4,#u3858:hover #u3860-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 110px;
	margin: 0px -10000px 0px 0px;
}

#u3858.MuseMenuActive #u3860-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 110px;
	margin: 0px -10000px 0px 0px;
}

#u3313
{
	width: 73px;
	min-height: 42px;
	position: relative;
	margin-right: -10000px;
	left: 223px;
}

#u3316
{
	width: 73px;
	padding-bottom: 25px;
	position: relative;
}

#u3327
{
	width: 73px;
	min-height: 42px;
	position: relative;
	margin-right: -10000px;
	left: 298px;
}

#u3328
{
	width: 73px;
	padding-bottom: 25px;
	position: relative;
}

#u3320
{
	width: 73px;
	min-height: 42px;
	position: relative;
	margin-right: -10000px;
	left: 373px;
}

#u3323
{
	width: 73px;
	padding-bottom: 25px;
	position: relative;
}

#u3293.MuseMenuActive,#u3316.MuseMenuActive,#u3328.MuseMenuActive,#u3323.MuseMenuActive
{
	width: 73px;
	min-height: 0px;
	margin: 0px;
}

#u3319,#u3330,#u3326
{
	height: 17px;
	width: 73px;
	position: relative;
	margin-right: -10000px;
	top: 12px;
}

#u3199
{
	z-index: 2;
	width: 920px;
	height: 869px;
	position: relative;
	margin-right: -10000px;
	margin-top: 62px;
	margin-left: 50%;
	left: -460px;
}

.js body
{
	visibility: hidden;
}

.js body.initialized
{
	visibility: visible;
}

#u3276,#u3276-bw
{
	z-index: 6;
	height: 61px;
}

#muse_css_mq,.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
	min-width: 320px;
}

.verticalspacer
{
	min-height: 1px;
}

