#menuu2191
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
}

#u2206,#u2207
{
	background-color: transparent;
}

#u2208
{
	vertical-align: top;
	background: transparent url("../images/u2208.png") no-repeat 0px 0px;
}

#u2207:hover #u2208
{
	background: transparent url("../images/u2208-r.png") no-repeat 0px 0px;
}

#u2207:active #u2208
{
	background: transparent url("../images/u2208-m.png") no-repeat 0px 0px;
}

#u2213,#u2214
{
	background-color: transparent;
}

#u2217
{
	vertical-align: top;
	background: transparent url("../images/u2217.png") no-repeat 0px 0px;
}

#u2214:hover #u2217
{
	background: transparent url("../images/u2217-r.png") no-repeat 0px 0px;
}

#u2214:active #u2217
{
	background: transparent url("../images/u2217-m.png") no-repeat 0px 0px;
}

#u2199,#u2200
{
	background-color: transparent;
}

#u2201
{
	vertical-align: top;
	background: transparent url("../images/u2201.png") no-repeat 0px 0px;
}

#u2200:hover #u2201
{
	background: transparent url("../images/u2201-r.png") no-repeat 0px 0px;
}

#u2200:active #u2201
{
	background: transparent url("../images/u2201-m.png") no-repeat 0px 0px;
}

#u2220,#u2221
{
	background-color: transparent;
}

#u2222
{
	vertical-align: top;
	background: transparent url("../images/u2222.png") no-repeat 0px 0px;
}

#u2221:hover #u2222
{
	background: transparent url("../images/u2222-r.png") no-repeat 0px 0px;
}

#u2221:active #u2222
{
	background: transparent url("../images/u2222-m.png") no-repeat 0px 0px;
}

#u2192,#u2195
{
	background-color: transparent;
}

#u2198
{
	vertical-align: top;
	background: transparent url("../images/u2198.png") no-repeat 0px 0px;
}

#u2195:hover #u2198
{
	background: transparent url("../images/u2198-r.png") no-repeat 0px 0px;
}

#u2195:active #u2198
{
	background: transparent url("../images/u2198-m.png") no-repeat 0px 0px;
}

#u3126,#u3129
{
	background-color: transparent;
}

#u3132
{
	vertical-align: top;
	background: transparent url("../images/u3132.png") no-repeat 0px 0px;
}

#u3129:hover #u3132
{
	background: transparent url("../images/u3132-r.png") no-repeat 0px 0px;
}

#u3129:active #u3132
{
	background: transparent url("../images/u3132-m.png") no-repeat 0px 0px;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

#u2207.MuseMenuActive,#u2214.MuseMenuActive,#u2200.MuseMenuActive,#u2221.MuseMenuActive,#u2195.MuseMenuActive,#u3129.MuseMenuActive,#u1125
{
	background-color: #1E1E1E;
}

#u1083-3,#u1603
{
	background-color: #00B29D;
}


